body {
      background-image:url('http://www.johnmariani.com/archive/2009/091122/unclejacks%203.jpg');
      background-size: cover;
    }
    .aboutUs, .dinnerOnMe {
      width:80%;
      color:white;
      text-align:center;
      margin-right:auto;
      margin-left:auto;
      text-shadow:2px 2px 4px black;
    }

    #start {
      text-shadow:none;
      margin-bottom: 20px;
    }

    .aboutUs h3, .dinnerOnMe h3, .control-label {
      text-align:center;
      font-size:30px;
    }

    .dinnerOnMe {
      padding-top:100px;
    }

    .aboutUs{
      padding-top:250px;
    }

    .dinnerOnMeHeader ,.aboutUsHeader{
      font-size:50px;
      color:white;
      text-align:center;
    }

.container-fluid {
  width:80%;
}

#buttonsView {
  width:80%;
  margin-right:auto;
  margin-left:auto;
}

/*Everything in the row classin on the middle of the page*/
#location{
  border:groove 4px red;
  color:red;
  box-sizing: border-box;
  font-size:20px;
}

#location h3 {
  margin-top:10px;
}

.instructions {
  color:white;
  margin:20px;
}
.price {
  width:30%;
  margin:10px;
}

.meal {
  width:20%;
  margin:10px;
}

.options {
  width:120px;
  margin:10px;
}

#search {
  color:black;
  font-size:15px;
}

.control-label {
  margin-bottom:20px;
}

#focusedInput {
  width:40%;
  margin-right:auto;
  margin-left:auto;
}

.col-md-6 {
  height:400px;
}

#startOver {
  width:20%;
  margin-right:auto;
  margin-left:auto;
  text-align:center;
}

/*hover.css styling*/
.hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #24aae9;
  background-color: #24aae9;
  color: white;
}

.hvr-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #24aae9;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
  color: white;
}
.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}